{% extends 'modelo.html' %}

{% block title %}usuario{% endblock %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row-mb-6">
            <form action="{{ url_for('usuario.add') }}" method="POST">
                <button class="btn btn-info" type="submit" name="formNovoUsuario"><i class="fas fa-plus-circle"></i>
                    Novo usuario</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Usuários</h2>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Nome</th>
                                    <th>login</th>
                                    <th>senha</th>
                                    <th>grupo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if result  %}
                                {% for row in result %}
                                <tr>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                    <td>{{ row[5] }}</td>
                                     {% if row[5] ==  1%}
                                     <td>gurpo 1</td>
                                     {% elif row[2] == 2%}
                                     <td>grupo 2</td>
                                     {% endif %}

                                </tr>
                                {% endfor %}
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
</div>

{% endblock content %}