<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>modelo</title>
    
    <link rel="icon" href="{{ url_for('static',filename='logo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.1.3/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <style>
        main {
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <a class="navbar-brand" href="/">Projeto Python</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
            aria-controls="textoNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">

                <div class="col-sm">

                    <li class="nav-item {% if active_page == 'usuario' %}active{% endif %}">
                        <a class="navbar-link" href="/usuario">Usuario</a>
                    </li>
                </div>

                <div class="col-sm">

                    <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
                        <a class="navbar-link" href="/home">home</a>
                    </li>
                </div>
                <div class="col-sm">
                    <li class="nav-item {% if active_page == 'formCliente' %}active{% endif %}">
                        <a class="navbar-link" href="/cliente">cliente</a>
                    </li>
                </div>
                <div class="col-sm">
                    <li class="nav-item {% if active_page == 'formListaProduto' %}active{% endif %}">
                        <a class="navbar-link" href="/produto">produto</a>
                    </li>
                </div>
                <div class="col-sm">
                    <li class="nav-item {% if active_page == 'formListaPedido' %}active{% endif %}">
                        <a class="navbar-link" href="/pedido">pedido</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item {% if active_page == 'formLogin' %}active{% endif %}">
                        <a class="navbar-link" href="/">logoff</a>
                    </li>
                </div>
            </ul>

        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">{% block content %}{% endblock %}</div>
            </div>
        </div>

    </main>
    <div class="footer-copyright text-center py-3">© 2019 Copyright by SandroMac.</div>


    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.4.1/js/bootstrap.min.js') }}"></script>
</body>

</html>