{% extends "modelo.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<form action="{{ url_for('pedido.formPedido') }}" method="POST">
    <button class="btn btn-danger" type="submit" name="+Pedido"><i class="fas fa-plus-circle"></i> + Novo
        Pedido</button>
</form>
 
<br>
<table class="table table-sm table-hover table-responsive">
    <!--  table-dark table-bordered table-striped -->
    <thead>
        <!--   class="thead-light" .thead-light or .thead-dark -->
        <tr>
            <th scope="col">#</th>
            <th scope="col">Telefone</th>
            <th scope="col">Cliente</th>
            <th scope="col">Endereço</th>
            <th scope="col">Número</th>
            <th scope="col">Cep</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Obs</th>
            <th scope="col">Data/Hora</th>
            <th scope="col">Produtos</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <th scope='row'>{{ pedido[0] }}</td>
            <td>Z{{ pedido[1] }}</td>
            <td>{{ pedido[2] }}</td>
            <td>{{ pedido[3] }}</td>
            <td>{{ pedido[4] }}</td>
            <td>{{ pedido[5] }}</td>
            <td>{{ pedido[6] }}</td>
            <td>{{ pedido[7] }}</td>
            <td>{{ pedido[8] }}</td>
            <td>{{ pedido[9] }}</td>
            <td>{{ pedido[10] }}</td>

            <td>
                     <a href="{{url_for('pedido.formEditarPedido', id=pedido[0])}}" class="btn btn-primary" >editar</a>
                     <a href="{{url_for('pedido.report', id=pedido[0])}}" name="report" class="btn btn-danger">Gerar PDF</button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}